body {
    background-size: cover;
    background-image: url("fundo.jpg");
    background-position: right top;
  }
  
  h1 {
    font-family: cursive;
    font-size: 40px;
    color: darkgoldenrod;
    margin: 50px;
  }

  li {
    font-family: cursive;
    font-size: 30px;
    color: darkgoldenrod;
    margin: 5%;
  }
  