body {
  font-family: Arial, sans-serif;
  background-color: #476088c4;
  color: #4500e7;
  margin: 0;
  padding: 0;
}

p { color: #4500e7 }

header {
  background-color: #0057e7;
  color: #bb3e3e;
  padding: 10px 20px;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

main h1 {
  font-size: 2em;
}

main h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

footer {
  background-color: #0057e7;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

img {
  height: 300px;
  object-fit: cover;
  width: 500px;
}